<html>
    <head>
        <title>To Do List</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
    </head>
    <body>
        <div class="container">
            <h1>{{ category.getName }}</h1>

            {% if tasks is not empty %}
                <p>Here are all your tasks:</p>

                <ul>
                    {% for task in tasks %}
                        <li>{{ task.getDescription }}</li>
                    {% endfor %}
                </ul>
            {% endif %}

            <h4>Add a task</h4>

            <form action="/tasks" method="post">
                <input id="category_id" type="hidden" name="category_id" value="{{ category.getId() }}">
                <label for="description">Task Description</label>
                <input id="description" type="text" name="description">

                <button type="submit" class="btn btn-info">Add task</button>
            </form>

            <form action="/">
                <button type="submit" class="btn btn-success">Home</button>
            </form>
{#
            <form action="/delete_tasks/categories/{id}" method="post">
                <button type="submit" class="btn btn-danger">Clear Tasks</button>
            </form>
#}
        </div>
    </body>
</html>
