<html>
<head>
    <title>To Do List</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
      <h1>To Do List</h1>
      {% if tasks is not empty %}
          <p>Here are all your tasks:</p>


              {% for task in tasks %}
                  <h5>{{ task.getDescription }}</h5>
                  <ul>
                      <li>{{ task.getDueDate }}</li>
                  </ul>

              {% endfor %}
          
      {% endif %}

      <form action="/tasks" method="post">
          <label for="description">Task Description</label>
          <input id="description" name="description" type="text">

          <button type="submit" class="btn btn-success">Add task</button>
      </form>

      <form action="/delete_tasks" method="post">
          <button type="submit" class="btn btn-danger">Clear tasks</button>
      </form>

      <form action="/">
          <button type="submit" class="btn btn-success">Home</button>
      </form>
    </div>
</body>
</html>
